<div class="row justify-content-center p-2" *ngIf="!favoriteRecipesList.length">
    <div class="card col-sm-12 col-lg-4 text-center">
        <div class="card-body">
            <h4 class="card-title text-danger">No Favorites?</h4>
            <button routerLink="/recipes" class="btn btn-outline-danger">Explore Recipes Now!</button>
        </div>
    </div>
</div>
<div class="row" *ngIf="favoriteRecipesList">
    <div class="col-xs-12 col-sm-6 col-lg-4 p-2" *ngFor="let recipe of favoriteRecipesList">
        <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </div>
</div>