<app-error-section *ngIf="!loadingFlag && errorFlag"></app-error-section>

<div class="text-center m-5" *ngIf="!displayList.length && !loadingFlag && !errorFlag">
    <h2 class="text-danger">Sorry, No recipes match your search...</h2>
</div>

<app-loading-section *ngIf="loadingFlag && !errorFlag"></app-loading-section>

<div class="row" *ngIf="displayList && !loadingFlag && !errorFlag">
    <div class="col-sm-12 col-md-6 col-lg-4 p-2" *ngFor="let recipe of displayList | paginate: { itemsPerPage: 6, currentPage: pageNum }">
        <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </div>

    <div class="col-12">
        <div class="text-center">
            <pagination-controls class="text-danger" (pageChange)="pageNum = $event"></pagination-controls>
        </div>
    </div>
</div>

     