    <div class="card rounded-0">
        <img src="{{recipe.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title text-danger">{{recipe.title}}</h5>
            <p class="card-text">{{recipe.summary.slice(0,150)}}...</p>
            <a href="#" class="btn btn-outline-danger">Go somewhere</a>
        </div>
        <hr>
        <div class="text-center text-danger row">
            <div class="col-4">
                <p>
                    <i class="bi-alarm"></i> 
                    {{recipe.readyInMinutes}} mins
                </p>
            </div>

            <div class="col-4">
                <p>
                    <i class="bi bi-heart-fill"></i> 
                    {{recipe.aggregateLikes}}
                </p>
            </div>

            <div class="col-4">
                <p>
                    <i class="bi bi-currency-dollar"></i>{{recipe.pricePerServing}}
                </p>
            </div>
        </div>
    </div>


    

